.about-me {
    margin-top: 5rem;
    padding-bottom: 2rem;
    color: #fafafa;
    font-family: "Poppins", sans-serif;
    .container {
        .wrapper {
            .title {
                h1 {
                    font-weight: 300;
                    font-size: 25px;
                }
            }
            .main {
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .my-image {
                    max-width: 400px;
                    margin: 0 auto;
                }
                .my-about-me {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 1rem;

                    .text {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        span {
                            font-size: 15px;
                            font-weight: 300;
                        }
                    }

                    .more-about-me {
                        button {
                            width: 100%;
                            background-color: #fafafa;
                            border: none;
                            color: #10101a;
                            font-family: "Montserrat", sans-serif;
                            font-weight: 900;
                            padding: 0.5rem 1rem;
                            font-size: 15px;
                            margin-bottom: 0.4rem;
                        }
                    }
                }
                @media (min-width: 768px) {
                    flex-direction: row;

                    .my-image {
                        flex: 1;
                    }

                    .my-about-me {
                        flex: 1;
                        flex-direction: column-reverse;
                        justify-content: flex-end;
                        .text {
                            span {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
