.projects-section {
    margin-top: 2rem;
    color: #fafafa;
    font-family: "Poppins", sans-serif;
    padding-bottom: 10rem;
    .container {
        .wrapper {
            .title {
                padding-bottom: 1rem;
                h1 {
                    font-weight: 300;
                }
            }
            .projects {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;

                .project {
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    display: flex;
                    flex-direction: column;
                    background: linear-gradient(180deg, rgba(35, 37, 49, 0.5), rgba(15, 15, 24, 0.5));
                    border: 1px solid rgba(20, 27, 44, 0.9);
                    backdrop-filter: blur(10px);
                    padding: 1rem;
                    border-radius: 5px;

                    .project-image {
                        display: flex;
                        align-items: center;
                        max-width: 200px;
                        margin: 0 auto;
                    }
                    .project-info {
                        top: 1rem;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: center;
                        .project-title {
                            h3 {
                                font-size: 20px;
                            }
                        }
                        .project-information {
                            margin-top: 0.5rem;
                            span {
                                font-size: 15px;
                                display: block;
                            }
                        }
                        .project-technologies {
                            margin-top: 1rem;
                            padding-bottom: 2rem;
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                            gap: 10px;
                            .tech {
                                background-color: #34495e;
                                border-radius: 25px;
                                width: fit-content;
                                padding: 0.3rem 1rem;
                                font-size: 12px;
                            }
                        }
                        .project-buttons {
                            display: flex;
                            gap: 1rem;

                            button {
                                display: flex;
                                align-items: center;
                                width: 50%;
                                font-family: "Poppins", sans-serif;
                                color: white;
                                background: transparent;
                                padding: 0.6rem 0.5rem;
                                border: 1px solid #fafafa;
                                border-radius: 5px;
                                font-size: 11px;
                                svg {
                                    width: 20px;
                                    margin-right: 5px;
                                }
                            }
                            .cta {
                                border: none;
                                background-color: #2c3e50;
                            }
                        }
                    }
                    @media (min-width: 768px) {
                        flex-direction: row;
                        gap: 2rem;

                        .project-image {
                            flex: 1;
                            max-width: 300px;
                        }
                        .project-info {
                            flex: 2;
                            text-align: left;
                            .project-technologies {
                                justify-content: flex-start;
                            }
                        }
                    }
                    @media (min-width: 1024px) {
                        margin: 0 auto;
                        width: 100%;
                        max-width: 900px;
                        .project-image {
                            flex: unset;
                            flex-basis: 50%;
                        }
                        .project-info {
                            flex: unset;
                            flex-basis: 50%;
                            .project-title {
                                h3 {
                                    font-size: 30px;
                                }
                            }
                            .project-buttons {
                                flex-direction: column;

                                button {
                                    font-size: 13px;
                                    max-width: 170px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
